div(class="row")
  div(class="col-md-2")
    .list-group
      a.list-group-item(ui-sref='loggedin.addtest') Create Test
      a.list-group-item(ui-sref='loggedin.edittest') Edit Test
      a.list-group-item(ui-sref='loggedin.history') History
  div(class="col-md-10")
    div(ui-view="maincontent")
      | Default Content goes here
